<footer id="sticky-footer" class="mt-auto py-4 bg-dark text-white">
  <div class="container text-center">
    <small>
      &copy; <%= Time.current.year %> 
      <%= link_to "Muhammad Arbaz", "#", class: "text-white text-decoration-none" %>
    </small>
  </div>
</footer>
